.header {
  max-width: 880px;
  justify-self: center;
  margin: 0 auto;
  border-bottom: 1px #545454 solid;
}

@media  screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media  screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
